body {
    font-family: 'Montserrat';
}

#title {background-color: firebrick;}

/* Navigation Bar */
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    color: whitesmoke;
    font-size: 1.75rem;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-size: 1.2em;
}

/* Fonts */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    size: 3.5rem;
    line-height: 1.5;
    color: whitesmoke;
}

h2 {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1.5em;
}

h3 {
    font-weight: 600;
}

p {
    color: darkgrey
    line-height: .5em;
}

.container-fluid {
    padding: 3% 10%;
}

.download-button {
    margin: 1.5em .5em 3em;
    }

#iphone-img {
    width: 70%;
    transform: rotate(15deg);
    padding-bottom: 3em;
    padding-left: 4em;
    position: relative;
    /* z-index: -5; */
}

@media (max-width: 1028px) {
    #iphone-img {
        position: static;
        transform: none;
    }

    #title {
        text-align: center;
    }
}

.title-section {
    padding-top: 4rem;
} 

/* Feature Section */
#features {
padding: 5% 0; 
background-color: whitesmoke;
position: relative;
z-index: 1;
}

.feature-cards {
    text-align: center;
}

.feature-icon {
    color: tomato;
    margin-bottom: 1.5rem;
}

.feature-icon:hover {
    color: firebrick;
}

/* Testimonial Section */
#testimonials {
    background-color: tomato;
    text-align: center;
    color: white;
}

.testimonial-image {
    border-radius: 50%;
    width: 15%;
    margin: 1.5em;
}

.carousel-item {
    padding: 5% 0;
}

/* Press Section */
#press {
    /* background: linear-gradient (tomato rgb(248, 121, 98); */
    background-color: tomato;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    /* width: 15%; */
    height: 40px;
    /* margin: 20px 20px 50px; */
    margin: 3%;
}

/* Pricing Section */
#pricing {
    background-color: whitesmoke;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    
}

.card {
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px;
}

/* Call To Action Section */
#cta {
    background-color: firebrick;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

#closing-words {
    padding: 1.5em;
    color: whitesmoke;
    line-height: 1.5em;
    font-weight: 800;
    font-size: 3em;
}

.cta-button {
    margin: 15px;
}

/* Footer */
#footer {
    background-color: whitesmoke;
    text-align: center;
    padding: 10%;
}

.footer-icons {
    padding: .5em;
}